/* Start Shared common style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.primary-button{
    background-color: #FF900E;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFF;
    padding: 15px;
    border: none;
    cursor: pointer;

}
/* End Shared common style */
/* Start Header Style */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* Start Nav Style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2rem;
    font-weight: 700;
    color:#131313 ;
}
.nav-item{
    display: flex;
}
.nav-list{
    list-style: none;
    margin-right: 25px;
    font-size: 1rem;
    font-weight: 500;
}
.nav-list a{
    text-decoration: none;
    color: #424242;
}
/* End Nav Style */
/* Start Banner style */
.banner-contain{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    padding-top: 100px;
}
.banner-description{
    color: #727272;
    line-height: 26px;
    padding: 25px 0px;
}

.banner-photo img{
    margin: 20px;
    width: 100%;
}
/* End Banner style */
/* End Header Style */
 /* Start main style */
 main{
    width:75%;
    margin: 0 auto;
 }
 /* Start teams Style */
.teams-container{
    display: flex;
    align-items: center;
    padding-top: 70px;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    width: 60%;
}
.teams-img-container img{
    max-width: 100%;
}
.teams-content{
    padding-left: 70px;
    width: 40%;
}
.teams-title{
    font-size: 2.50rem;
}
.teams-title-one{
    color:#727272;
    font-weight: 500;

}
.teams-title-two{
    color: #131313;
    font-weight: 700;
}
.teams-title-three{
    color: #FF900E;
    font-weight: 700;
}
.teams-description{
    color: #727272;
    line-height: 26px;
    padding: 25px 0px;
}
 /* End teams Style */
 /* Start Features Style */
.features{
    display: flex;
    margin-top: 100px;
    gap: 100px;
    height: 100%;

}
.features-title{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    border-left: 3px solid #FF900E;
    padding-left: 10px;
}
.features-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding: 10px 0px 10px 10px;
}
.features-container{
    width: 50vw;
    height: 100%;
 } 

.features-card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 10px 0px 10px 10px;
    margin-top: 10px;
}
.features-card h4{
    font-size: 1.10rem;
    font-weight: 600;
    color: #131313;
}
.features-card p{
    color:  #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px; 
}

.features-img{
    width: 50vw;
    height: 100%;
}
.features-img img{
    width: 100%;
    height: 100%;
}
.ten-year-badge{
    border-radius: 8px;
    background: #FF900E;
    width: 50%;
    padding: 25px;
    position: relative;
    bottom: 70px;
    right: 50px;
}
.ten-year-badge h2{
    color: #FFF;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 70px;
}
.ten-year-badge>p{
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}
 /* End Features Style */
 /* Start Facts Style */
 .facts{
    padding-top: 50px ;
 }
 .facts-tittle{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
 }
 .facts-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding: 20px 0px;
    width: 50%;
 }
 .facts-container{
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
 }
.facts-card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 25px 35px;
    text-align: center;
}
.facts-stats{
    color: #424242;
    font-size: 3rem;
    font-weight: 600;
    padding: 15px 0px 8px 0px;
}
.facts-card-title{
    color: #727272;
    font-size: 1.10rem;
    font-weight: 400;
}
 /* End Facts Style */
 /* End main style */



 /* ----------------------------------------------------------------------------------------------- */
/* Responsive Media queries */
/* Small drives */
@media screen and (max-width: 576px) {
    /* Start Shared common style */
    .primary-button{
        font-size: 1rem;
        padding: 10px;
    }
    /* End Shared common style */
    /* Start Header Style */
    header{
        padding:10px
    }
    /* Start Nav Style */
    nav{
        flex-direction: column;
    }
    .nav-list{
        margin: 7px;
    }
    /* End Nav Style */
    /* Start Banner style */
    .banner-title{
        font-size: 3rem;
        padding-top: 30px;
    }
    .banner-photo img{
        margin: 0;
        margin-top: 20px;
    }
    /* End Banner style */
    /* End Header Style */
    /* Start main style */
    main{
        width: auto;
    }
    /* Start teams Style */
    .teams-container{
    flex-direction: column;
    padding:20px;
}
    .teams-img-container{
    grid-template-columns: 1fr;
    width: 100%;
}
.teams-img-container >img{
    width: 100%;
}
    .teams-content{
        width: fit-content;
        padding: 10px;
}
    /* End teams Style */
    /* Start Features Style */
    .features{
        flex-direction: column;
        margin-top: 25px;
        height: 100%;
        gap: 25px;
    }
    .features-container{
        width: auto;
        padding: 10px;
        height: 100%;
    }
    .features-img{
        width: auto;
        height: auto;
        padding: 10px;
    }
    .ten-year-badge{
        margin: auto;
        right: 0;
    }
    /* End Features Style */
    /* Start Facts Style */
    .facts{
        text-align: center;
        padding: 0px 15px;
    }
    .facts-description{
        width: 100%;
    }
    .facts-container{
        flex-direction: column;
        gap: 25px;
    }
    /* End Facts Style */
     /* End main style */
}

/* Medium drives */
@media screen and (min-width: 576px) and (max-width: 768px) {
    /* Start Shared common style */
    .primary-button{
        font-size: 1rem;
        padding: 15px;
    }
    /* End Shared common style */
    /* Start Header Style */
    header{
        padding: 10px 50px;
    }
     /* Start Nav Style */
    nav{
        flex-direction: column;
    }
    /* End Nav Style */
    /* Start Banner style */
    .banner-title{
        padding-top:30px;
        font-size: 3rem;
    }
    /* End Banner style */
    /* End Header Style */
    /* Start main style */
    main{
        width: auto;
    }
    /* Start teams Style */
    .teams-container{
    flex-direction: column;
    padding:30px;
    
}
    .teams-img-container{
    grid-template-columns: repeat(2,1fr);
    width: fit-content;
}
    .teams-content{
        width: fit-content;
        padding: 10px;
}
    /* End teams Style */
     /* Start Features Style */
     .features{
        flex-direction: column;
        margin-top: 25px;
        height: 100%;
        gap: 25px;
    }
    .features-container{
        width: auto;
        padding: 10px;
        height: 100%;
    }
    .features-img{
        width: auto;
        height: auto;
        padding: 10px;
    }
    .ten-year-badge{
        margin: auto;
        right: 0;
    }
    /* End Features Style */
    /* Start Facts Style */
    .facts{
        text-align: center;
        padding: 0px 15px;
    }
    .facts-description{
        width: 100%;
    }
    .facts-container{
        gap: 15px;
    }
    .facts-card{
        padding: 15px 25px;
    }
    .facts-stats{
        font-size: 2rem;
    }
    .facts-card-title{
        font-size: 1rem;
    }
    /* End Facts Style */
     /* End main style */
}
@media screen and (min-width:768px) and (max-width:992px) {
   /* Start Shared common style */
   /* End Shared common style */
    .primary-button{
        font-size: 1rem;
        padding: 15px;
    }
    /* Start Header Style */
    header{
        padding: 10px 50px;
    }
    /* Start Banner style */
    .banner-title{
        padding-top:30px;
        font-size: 3rem;
    }
    /* End Banner style */
    /* End Header Style */
    /* Start main style */
    main{
        width: auto;
    }
    /* Start teams Style */
    .teams-container{
    padding: 25px;
}
    .teams-img-container{
    grid-template-columns: repeat(2,1fr);
    width: fit-content;
    padding: 0 30px;
}
    .teams-content{
        width: 40%;
        padding: 10px;
}
    /* End teams Style */
    /* Start Features Style */
    .features{
        gap: 25px;
        padding: 0 25px;
        height: 100%;
    }
    .featutes-title{
        font-size: 2.50rem;
        padding-left: 10px;
    }
    .features-description{
        line-height: 22px;
    }
.features-container{
    height: 100%;
}

    .features-card h4{
        font-size: 1rem;
    }
    .features-card p{
        line-height: 22px; 
    }
    .features-img{
        height: 100%;
    }
    .ten-year-badge{
        margin: auto;
        bottom: 50px;
        right: 0;
    }
    /* End Features Style */
    /* Start Facts Style */
    .facts{
        text-align: center;
        padding: 0px 25px;
    }
    .facts-description{
        width: 100%;
    }
    .facts-container{
        gap: 20px;
    }
    .facts-card{
        padding: 20px 30px;
    }
    .facts-stats{
        font-size: 3rem;
    }
    .facts-card-title{
        font-size: 1.10rem;
    }
    /* End Facts Style */
     /* End main style */
}